@media (min-width: 0px){
  #logo {
  height: 150px;
  width: 150px;
  margin-top: 5%;
}

.indexlogo {
  height: 250px;
  width: 250px;
  margin-top: 8%;
  margin-bottom: -5%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.logo{

  /*  height: 150px; */
    text-align: center;
}

.logo2{
  
  text-align:center;
  height:37.5px;
}

#logo3 {
  height: 150px;
  width: 150px;
  margin-top: -13%;
}

.who{
    text-align: center;
    padding-top: 15px;
}

.alreadyUser{

   /* height: 40px;*/
    background-color: #D5CFE1;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#profilehead {
  background-color: #D5CFE1;
  font-size: 18pt;
  /*margin-top: 2%;*/
  /*margin-bottom: 40px;*/
}

#profilesubhead {
  background-color: #D5CFE1;
  font-size: 11pt;
  /*margin-top: 2%;*/
  margin-bottom: -2%;
}

#buttonimg1 {
  width: auto;
  height: 100%;
}

#buttonimg2 {
  width: auto;
  height: 75%;
}

#buttonimg3 {
  width: auto;
  height: 70%;
}

#buttonimg4 {
  width: auto;
  height: 85%;
}

.topbut{

    height: 50px;
  /*background-color: rgb(200, 200, 200);*/
    text-align: center;
    margin-top: 15px;
}

.but1{

    height: 50px;
  /*background-color: rgb(200, 200, 200);*/
    text-align: center;
    margin-bottom: 3%;
}

.login {
  width: 50%;
  height: 74px;
  /*background-color: rgb(255, 255, 255);*/
}

.servicesBox {
  height: 35px;
  width: 50%;
  font-size: 12pt;
  margin-left: -10%;
  margin-top: 7%;
}

.login2 {
  width: 40%;
  font-size: 10pt;
  display: block;
  margin-left: auto;
  margin-top: 2%;
  border: none;
}

.loginbox {
  width: 71%;
  height: 40px;
  margin-left: 19%;
  margin-top: -2%;
  border: none;
}

.loginbox2 {
  width: 60%;
  height: 40px;
  display: block;
  margin-left: auto;
  padding-right: 5%;
  margin-top: auto;
  border: none;
}
    
.signin {
  margin-top: 8%; 
}
    
.signup {
  background-color: white;
  border-top: 1px gray solid;
  width: 105vw;
  margin-left: -5%;
  padding-left: 2%;
}

.signup2 {
  background-color: white;
  width: 105vw;
  margin-left: -5%;
  padding-left: 2%;
}
    
.signup3 {
  background-color: white;
  width: 105vw;
  margin-left: -5%;
  padding-left: 2%;
}

.signup4 {
  background-color: white;
  width: 105vw;
  margin-left: -5%;
  padding-left: 2%;
}
<<<<<<< HEAD
  
=======
	
>>>>>>> refs/remotes/origin/master
.login3 {
  width: 65%;
  height: 45px;
  margin-left: 0%;
  margin-top: 1%;
  border: none;
}

.login4 {
  height: 50px;
  width: 45%;
  font-size: 10pt;
  margin-left: 0%;
  margin-right: 6%;
  margin-top: 5%;
  margin-bottom: -3%;
}

.loginbox3 {
  width: 62%;
  height: 40px;
  margin-left: -12%;
  font-size: 9pt;
  border: none;
}

.loginbox4 {
  width: 50%;
  height: 20px;
  margin-left: -12%;
  font-size: 10pt;
  margin-top: 6%;
  margin-bottom: -2%;
  border: none;
}

.logbut {
  margin: auto;
  margin-top: 2%;
}

.servicesBox {
  height: 30px;
  width: 30%;
  font-size: 11pt;
  margin-left: -3%;
  margin-top: 4.5%;
}

#Date {
  margin-left: 7%;
  color: gray;
}

#Time {
  margin-left: 4%;
  color: gray;
}

.fbLoginBut {
  width: 70%;
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
  margin-bottom: 2%;
}

.fblogimg {
  width: 100%;
}

.btn {
  margin-bottom: 2%;
}

.typebut {
  margin: auto;
  margin-top: 3%;
  height: 100px;
  font-size: 16pt;
}

.nav{
  height:50px;
  background-color: rgb(200,200,200);

}

.cal {
  margin: auto;
  display: block;
}

#calendar {
  width: 110%;
  margin: 0 auto;
  margin-left: -5%;
  background-color: white;
  font-size: 8pt;
}

#fblog {
  width: 245px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

#footerbut {
  height: 75px;
  width: 24%;
  margin-top: 3%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: -2%;
  padding-bottom: 0%;
  padding-right: 0%;
  padding-left: 0%;
  padding-top: 2%;
}

.footrow {
  background-color: #D5CFE1;
  margin: -2%;
  margin-top: 0%;
  padding: 0%;
}

.lightgrey{
  
  background-color: rgb(230, 230, 230);
}

.poscenter{
  
  text-align:center;
}

.mapheight{
  
  height:350px;
    margin-bottom: 10px;
}

.mapcolor{

  background-color:#97FF9D; 
}

.calheight{

  height:200px; 
  background-color:#F9D1D2;
}

.hauto{
  width: 120%;
<<<<<<< HEAD
  height:auto;
=======
	height:auto;
>>>>>>> refs/remotes/origin/master
  display: block;
  margin-left: -10%;
}
}

@media (min-width: 700px) {

  .indexlogo {
  height: 450px;
  width: 450px;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 16%;
}

 #logo {
  height: 250px;
  width: 250px;
  margin-top: 5%;
}

#logo3 {
  height: 250px;
  width: 250px;
  margin-top: -3%;
}

.typebut {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
  height: 15vh;
  font-size: 24pt;
}

#profilehead {
  font-size: 24pt;
}

#profilesubhead {
  font-size: 20pt;
}

.footrow {
  background-color: #D5CFE1;
  margin-right: -2%;
  margin-left: 0%;
  margin-top: 0%;
  padding: 0%;
}

.alreadyUser {
  font-size: 20pt;
}

.login {
  width: 50%;
  height: 74px;
  /*background-color: rgb(255, 255, 255);*/
}

.servicesBox {
  height: 50px;
  width: 18%;
  font-size: 20pt;
  margin-left: 3%;
  margin-top: 4%;
}

.cal {
  width: 50%;
  height: 50px;
  font-size: 20pt;
}

#calendar {
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  font-size: 14pt;
}

.login3 {
  width: 65%;
  height: 55px;
  margin-left: 1%;
  margin-top: 3%;
  font-size: 18pt;
}

.login2 {
  width: 30%;
  font-size: 20pt;
  margin-top: 4%;
  margin-left: -1%;
  margin-right: 3%;
}

.loginbox {
  width: 60%;
  height: 60px;
  margin-left: 32%;
  margin-top: -2%;
  font-size: 18pt;
}

.loginbox2 {
  width: 60%;
  height: 60px;
  margin-left: 4%;
  margin-top: 3%;
  font-size: 18pt;
}

.login4 {
  height: 60px;
  width: 40%;
  font-size: 20pt;
  margin-left: 6%;
  margin-right: 0%;
  margin-top: 2%;
}

.loginbox3 {
  width: 55%;
  height: 60px;
  margin-left: 0%;
  margin-top: 4%;
  font-size: 18pt;
}

.loginbox4 {
  width: 58%;
  height: 79px;
  margin-left: -5%;
  font-size: 16pt;
  margin-top: 3%;
  margin-bottom: 0%;
  border: none;
}

.logbut {
  margin: auto;
  margin-top: 5%;
  font-size: 24pt;
  height: 70px;
  width: 75%;
}
    
.signup {
  background-color: white;
  border-top: 1px gray solid;
  width: 110vw;
  margin-left: -4%;
  padding-left: 2%;
}

.signup2 {
  background-color: white;
  width: 110vw;
  margin-left: -4%;
  padding-left: 2%;
}

.signin {
  margin-top: 8%;
  margin-left: 5%; 
  font-size: 24pt;
}

.signup4 {
  background-color: white;
  width: 101vw;
  margin-left: -4%;
  padding-left: 2%;
}

.signup3 {
  background-color: white;
  border-top: 1px gray solid;
  width: 101vw;
  margin-left: -4%;
  padding-left: 2%;
}

.btn {
  height: 70px;
  font-size: 22pt;
  margin-bottom: 1%;
}

.hauto{
  width: 100%;
  height:auto;
  margin: auto;
}

pre {
  font-size: 18pt;
}

}

@media (min-width: 1020px) {

 #logo {
  height: 250px;
  width: 250px;
  margin-top: 1%;
}

#logo3 {
  height: 250px;
  width: 250px;
  margin-top: -3%;
}

.indexlogo {
  height: 350px;
  width: 350px;
  margin-top: 1%;
  margin-left: 33%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#buttonimg1 {
  width: auto;
  height: 110%;

}

#buttonimg2 {
  width: auto;
  height: 100%;
}

#buttonimg3 {
  width: auto;
  height: 100%;
}

#buttonimg4 {
  width: auto;
  height: 100%;
}

#footerbut {
  height: 75px;
  width: 24%;
  margin-top: 3%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: -2%;
  padding-bottom: 5px;
  padding-right: 0%;
  padding-left: 0%;
  padding-top: 8px;
}

.footrow {
  background-color: #D5CFE1;
  margin-right: -2%;
  margin-left: 0%;
  margin-top: 0%;
  padding: 0%;
}

  #profilehead {
  font-size: 20pt;
  margin-top: 1%;
}

#profilesubhead {
  font-size: 20pt;
  margin-bottom: 1%;
}

.typebut {
  margin: auto;
  margin-top: 0%;
  margin-bottom: 2%;
  height: 60px;
  font-size: 20pt;
}

.login2 {
  width: 30%;
  font-size: 16pt;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;

}

.loginbox {
  width: 60%;
  height: 25px;
  margin-left: -3.5%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 14pt;
}

.loginbox2 {
  width: 60%;
  height: 25px;
  margin-left: -2%;
  margin-top: 1%;
  font-size: 14pt;
}

.login4 {
  height: 60px;
  width: 40%;
  font-size: 16pt;
  margin-left: 8%;
  margin-right: 0%;
  margin-top: 2%;
}

.loginbox3 {
  width: 55%;
  height: 60px;
  margin-left: -10%;
  margin-top: 2%;
  font-size: 14pt;
}

.loginbox4 {
  width: 55%;
  height: 60px;
  margin-left: -10%;
  margin-top: 1%;
}

.signup {
  background-color: white;
  border-top: 1px gray solid;
  width: 99.2vw;
  margin-left: -6%;
  padding-left: 2%;
}

.signup2 {
  background-color: white;
  width: 99.2vw;
  margin-left: -6%;
  padding-left: 2%;
}

.signup3 {
  background-color: white;
  width: 99.2vw;
  margin-left: -6%;
  padding-left: 2%;
}

.signin {
  width: 30%;
  font-size: 16pt;
  margin-top: 3%;
  margin-left: 10%;
}

.signup4 {
  background-color: white;
  width: 101vw;
  margin-left: -4%;
  padding-left: 2%;
}

.signup3 {
  background-color: white;
  border-top: 1px gray solid;
  width: 101vw;
  margin-left: -4%;
  padding-left: 2%;
}
    
.logbut {
  margin: auto;
  margin-top: 2%;
  font-size: 14pt;
  height: 40px;
  width: 40%;
  margin-bottom: 4%;
}

.fbLoginBut {
  width: 35%;
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
  margin-bottom: 2%;
}

.fblogimg {
  width: 100%;
}

pre {
  font-size: 11pt;
}

}
/* the CSS for Customer google maps goes here */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pacinput {
  background-color: #fff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 130px;
  height: 40px;
}

#pacinput:focus {
  border-color: #4d90fe;
}


.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}