#logo {
  height: 150px;
  width: 150px;
  margin-top: 1%;
}

.logo{

  /*  height: 150px; */
    text-align: center;
}

.logo2{
	
	text-align:center;
	height:37.5px;
}

.who{
    text-align: center;
    padding-top: 15px;
}

.alreadyUser{

   /* height: 40px;*/
    background-color: #D5CFE1;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#profilehead {
  background-color: #D5CFE1;
  font-size: 13pt;
  /*margin-top: 2%;*/
  /*margin-bottom: 40px;*/
}

#profilesubhead {
  background-color: #D5CFE1;
  font-size: 11pt;
  /*margin-top: 2%;*/
  margin-bottom: 15px;
}

#buttonimg {
  width: 100%;
  height: auto;
  padding-left: 20%;
}

.topbut{

    height: 50px;
	/*background-color: rgb(200, 200, 200);*/
    text-align: center;
    margin-top: 15px;
}

.but1{

    height: 50px;
	/*background-color: rgb(200, 200, 200);*/
    text-align: center;
}

.login {
	
    height: 74px;
    background-color: rgb(255, 255, 255);
}

.servicesBox {
	height: 35px;
}

.login2 {
	
	height:37.5px;
}
	
.login3 {
	
    height: 45px;
}

.nav{
	height:50px;
	background-color: rgb(200,200,200);

}

#fblog {
  width: 245px;
  margin: auto;
}

#footerbut {
  margin-top: 1%;
}

.lightgrey{
	
	background-color: rgb(230, 230, 230);
}

.poscenter{
	
	text-align:center;
}

.mapheight{
	
	height:350px;	
}

.mapcolor{

	background-color:#97FF9D;	
}

.calheight{

	height:200px;	
	background-color:#F9D1D2;
}

.hauto{

	height:auto;	
}