#logo {
  height: 150px;
  width: 150px;
  margin-top: 1%;
}

.logo{

  /*  height: 150px; */
    text-align: center;
}

.logo2{
	
	text-align:center;
	height:37.5px;
}

.who{
    text-align: center;
    padding-top: 15px;
}

.alreadyUser{

   /* height: 40px;*/
    background-color: #D5CFE1;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#profilehead {
  background-color: #D5CFE1;
  font-size: 13pt;
  /*margin-top: 2%;*/
  /*margin-bottom: 40px;*/
}

#profilesubhead {
  background-color: #D5CFE1;
  font-size: 11pt;
  /*margin-top: 2%;*/
  margin-bottom: 15px;
}

#buttonimg1 {
  width: auto;
  height: 100%;

}

#buttonimg2 {
  width: auto;
  height: 75%;
}

#buttonimg3 {
  width: auto;
  height: 70%;
}

#buttonimg4 {
  width: auto;
  height: 85%;
}

.topbut{

    height: 50px;
	/*background-color: rgb(200, 200, 200);*/
    text-align: center;
    margin-top: 15px;
}

.but1{

    height: 50px;
	/*background-color: rgb(200, 200, 200);*/
    text-align: center;
    margin-bottom: 3%;
}

.login {
	width: 50%;
  height: 74px;
  /*background-color: rgb(255, 255, 255);*/
}

.servicesBox {
	height: 35px;
  width: 50%;
  font-size: 12pt;
  margin-left: -10%;
  margin-top: 7%;
}

.login2 {
	width: 50%;
  font-size: 12pt;
  margin-left: -10%;
  margin-top: 7%;
}

.loginbox {
  width: 71%;
  height: 40px;
  margin-left: 28%;
  margin-top: 3%;
}

.loginbox2 {
  width: 70%;
  height: 40px;
  margin-left: -12%;
  margin-top: 3%;
}
	
.login3 {
	width: 70%;
  height: 45px;
  margin-left: -12%;
  margin-top: 3%;
}

.logbut {
  margin: auto;
  margin-top: 5%;
}

.nav{
	height:50px;
	background-color: rgb(200,200,200);

}

#oldPass {
  font-size: 10pt;
}

#fblog {
  width: 245px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

#footerbut {
  height: 75px;
  width: 24%;
  margin-top: 1%;
  margin-right: 0%;
  margin-left: 0%;
  padding-bottom: 0%;
  padding-right: 0%;
  padding-left: 0%;
  padding-top: 2%;
}

.footrow {
  background-color: #D5CFE1;
  margin: -2%;
  padding: 0%;
}

.lightgrey{
	
	background-color: rgb(230, 230, 230);
}

.poscenter{
	
	text-align:center;
}

.mapheight{
	
	height:350px;
    margin-bottom: 10px;
}

.mapcolor{

	background-color:#97FF9D;	
}

.calheight{

	height:200px;	
	background-color:#F9D1D2;
}

.hauto{

	height:auto;	
}

/* the CSS for Customer google maps goes here */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}


.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}